- if show_navigation?
  .edit-account-background
    = link_to edit_profile_background_image_path, class: 'edit-link js-edit-modal new-background-image-icon' do
      %i.i-icon.i-photo
    -# Todo: background slider
    -# = link_to '', '#header-bg-slider', class: 'i-left', data: { slide: :prev }
    -# = link_to '', '#header-bg-slider', class: 'i-right', data: { slide: :next }
