= link_to edit_profile_photo_path,
          class: photo_placeholder_classes,
          id:    'add-new-profile-photo-button' do
  %i.i-icon.i-photo
  .add-name
    Add
    %br
    #{labels[:profile_image]}
