.no-content-pad.no-content-pad-white
  = link_to edit_profile_media_stream_path, class: 'edit-link js-edit-modal media-stream-items-icon link-add-content' do
    %span.square-button
      %i.i-icon.i-photo
    %span#add-photos-to-media-stream Add Photos Into Stream
