.container.msg-back
  .col-md-6.col-md-offset-3
    %h1.msg-head Ruck.us Trial
    %p.msg-txt Ruck.us trial accounts are not visible to public.
    %p.msg-txt2
      when you are ready to publish your website,
      %br/
      upgrading your trial will make your site active
      %br/
      to the world
    %br/
    %a.ajax-modal-link.hide-small-menu{:href => "/accounts/sign_in"}
      %button.owner-log{:type => "button"} OWNER LOGIN
	