---
http_interactions:
- request:
    method: get
    uri: https://clientstage-api.democracyengine.com/subscribers/18.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Www-Authenticate:
      - Digest realm="Democracy Engine API", qop="auth", algorithm=MD5, nonce="MTM5ODk5MTE2MTpmZjEwYjI4Y2VmNTI5NDkzMDY2MTVjMGMxOWUzZjU5MA==",
        opaque="0196eb83b664c00d7d5d4d52c24543ae"
      Status:
      - '401'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Digest: Access denied.
  recorded_at: Fri, 02 May 2014 00:40:03 GMT
- request:
    method: get
    uri: https://clientstage-api.democracyengine.com/subscribers/18.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="Ruck.us_api"
      - cnonce="e0a7bd55d0775579ed7980e80d9b3464"
      - nc=00000001
      - nonce="MTM5ODk5MTE2MTpmZjEwYjI4Y2VmNTI5NDkzMDY2MTVjMGMxOWUzZjU5MA=="
      - opaque="0196eb83b664c00d7d5d4d52c24543ae"
      - qop="auth"
      - realm="Democracy Engine API"
      - response="a0c5b3c3653607206195a9bae7f4bfbe"
      - uri="/subscribers/18.json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"76c49e38e059b67586542c6e676b6785"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":18,"name":"Ruck.us_api","username":"Ruck.us_api","uri":"https://clientstage-api.democracyengine.com/subscribers/18.json","donation_uri":"https://clientstage-api.democracyengine.com/subscribers/18/donations/:donation_id.json","donation_process_uri":"https://clientstage-donate.democracyengine.com/subscribers/18/donations.json","donations_uri":"https://clientstage-api.democracyengine.com/subscribers/18/donations.json","recipient_uri":"https://clientstage-api.democracyengine.com/subscribers/18/recipients/:recipient_id.json","recipients_uri":"https://clientstage-api.democracyengine.com/subscribers/18/recipients.json","recipient_process_uri":"https://clientstage-api.democracyengine.com/subscribers/18/recipients.json","transaction_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions/:transaction_id.json","transaction_void_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions/:transaction_id/void.json","transaction_credit_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions/:transaction_id/credit.json","transactions_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions.json","subscriptions_uri":"https://clientstage-api.democracyengine.com/subscribers/18/subscriptions.json","subscription_uri":"https://clientstage-api.democracyengine.com/subscribers/18/subscriptions/:subscription_id.json","subscription_donations_uri":"https://clientstage-api.democracyengine.com/subscribers/18/subscriptions/:subscription_id/donations.json","subscription_recurrence_uri":"https://clientstage-api.democracyengine.com/subscribers/18/subscription_recurrences/:subscription_recurrence_id.json","stored_card_uri":"https://clientstage-api.democracyengine.com/subscribers/18/stored_cards/:token.json"}'
  recorded_at: Fri, 02 May 2014 00:40:04 GMT
- request:
    method: post
    uri: https://clientstage-api.democracyengine.com/subscribers/18/recipients.json
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Www-Authenticate:
      - Digest realm="Democracy Engine API", qop="auth", algorithm=MD5, nonce="MTM5ODk5MTE2MzpjMWNiMjExYWZhMWQ5Njc5ODAxZjMwZmFiYzMyMzZiZg==",
        opaque="0196eb83b664c00d7d5d4d52c24543ae"
      Status:
      - '401'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Digest: Access denied.
  recorded_at: Fri, 02 May 2014 00:40:05 GMT
[...]
- request:
    method: post
    uri: https://clientstage-donate.democracyengine.com/subscribers/18/donations.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Democracy Engine API", qop="auth", algorithm=MD5, nonce="MTQyMTcwNjI1NjphYWYxMTcxYjg3YmQwNjhmNmRjZTdlNzU1OTMxOGNiMw==",
        opaque="0196eb83b664c00d7d5d4d52c24543ae"
      Status:
      - 401 Unauthorized
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Digest: Access denied.
  recorded_at: Mon, 19 Jan 2015 22:24:16 GMT
- request:
    method: post
    uri: https://clientstage-donate.democracyengine.com/subscribers/18/donations.json
    body:
      encoding: UTF-8
      string: donation[donor_first_name]=John&donation[donor_last_name]=Doe&donation[donor_city]=Louisiana&donation[donor_state]=CA&donation[donor_zip]=12345&donation[donor_address1]=Street&donation[cc_number]=4111111111111111&donation[cc_verification_value]=123&donation[cc_month]=02&donation[cc_year]=2018&donation[cc_first_name]=John&donation[cc_last_name]=Doe&donation[line_items][][amount]=%2420.00&donation[line_items][][recipient_id]=ruckusfees&donation[token_request]=true
    headers:
      Authorization:
      - Digest username="Ruck.us_api"
      - cnonce="8af30769d2595cddb5a20ebfa911f42a"
      - nc=00000001
      - nonce="MTQyMTcwNjI1NjphYWYxMTcxYjg3YmQwNjhmNmRjZTdlNzU1OTMxOGNiMw=="
      - opaque="0196eb83b664c00d7d5d4d52c24543ae"
      - qop="auth"
      - realm="Democracy Engine API"
      - response="921ef08f47d0cdb50964323fa5a3cbf3"
      - uri="/subscribers/18/donations.json"
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"f2cd35eb28119709093a27b4f03e9fd8"'
      Location:
      - https://clientstage-api.democracyengine.com/subscribers/18/donations/302e53b0-1f05-4e62-b1e7-75be5a322296.json
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ach_account_number":null,"ach_account_type":null,"ach_routing_number":null,"authcapture_request":null,"authorization_deferred":false,"authtest_request":null,"aux_data":null,"avs_code":null,"cc_brand":null,"cc_last_four":"1111","combine_line_items":null,"compliance_confirmation":null,"compliance_employer":null,"compliance_employer_address":null,"compliance_employer_address1":null,"compliance_employer_address2":null,"compliance_employer_city":null,"compliance_employer_country":null,"compliance_employer_state":null,"compliance_employer_zip":null,"compliance_occupation":null,"created_at":null,"donor_address1":"Street","donor_address2":null,"donor_city":"Louisiana","donor_company_name":null,"donor_country_code":null,"donor_email":null,"donor_first_name":"John","donor_last_name":"Doe","donor_phone":null,"donor_state":"CA","donor_zip":"12345","email_opt_in":null,"fee_tier":null,"gid":"302e53b0-1f05-4e62-b1e7-75be5a322296","ip_address":"134.249.164.47","is_corporate_contribution":null,"message":null,"payment_method":"credit_card","ref_code":null,"source_code":null,"subscription_create_data":null,"subscription_reference_date":null,"subscription_request":null,"token":"19baf2dd-5798-4322-b5a0-6202c7a5c96b","token_request":"true","uri":"https://clientstage-api.democracyengine.com/subscribers/18/donations/302e53b0-1f05-4e62-b1e7-75be5a322296.json","line_items":[{"amount":"$20.00","recipient_id":"37ca312c-988d-4394-9ed7-fd936e3c6ac3","recipient_name":"Bob
        Sinclar","recipient_uri":"https://clientstage-api.democracyengine.com/subscribers/18/recipients/37ca312c-988d-4394-9ed7-fd936e3c6ac3.json","status":"authorized","transaction_error":null,"transaction_guid":"s657001a-4aa9-483f-932c-56f777a06a9d","transaction_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions/s657001a-4aa9-483f-932c-56f777a06a9d.json"}]}'
  recorded_at: Mon, 19 Jan 2015 22:24:17 GMT
[...]
- request:
    method: post
    uri: https://clientstage-donate.democracyengine.com/subscribers/18/donations.json
    body:
      encoding: UTF-8
      string: donation[donor_first_name]=John&donation[donor_last_name]=Doe&donation[donor_city]=Louisiana&donation[donor_state]=CA&donation[donor_zip]=12345&donation[donor_address1]=Street&donation[cc_number]=4111111111111111&donation[cc_verification_value]=123&donation[cc_month]=02&donation[cc_year]=2018&donation[cc_first_name]=John&donation[cc_last_name]=Doe&donation[line_items][][amount]=%2420.00&donation[line_items][][recipient_id]=ruckusfees&donation[token]=token
    headers:
      Authorization:
      - Digest username="Ruck.us_api"
      - cnonce="57d40b1e3a2ba8d0d7e474306f1c4cfe"
      - nc=00000001
      - nonce="MTQyMTcwNzQ4NToyYzk0ZTVmY2Y2OGQ5MTBjNmY0YzVkY2IwY2E0OTlhNg=="
      - opaque="0196eb83b664c00d7d5d4d52c24543ae"
      - qop="auth"
      - realm="Democracy Engine API"
      - response="71cc11060a8a9a36223eec3ddf2c6391"
      - uri="/subscribers/18/donations.json"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: 404 Record Not Found
  recorded_at: Mon, 19 Jan 2015 22:44:46 GMT
recorded_with: VCR 2.9.3
