---
http_interactions:
- request:
    method: get
    uri: https://clientstage-api.democracyengine.com/subscribers/18.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Www-Authenticate:
      - Digest realm="Democracy Engine API", qop="auth", algorithm=MD5, nonce="MTM5ODk5MTE2ODo5MzY2NWM0NzJhMGU2NjFiM2IzNjU0OTAwNzFmZDk2Nw==",
        opaque="0196eb83b664c00d7d5d4d52c24543ae"
      Status:
      - '401'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Digest: Access denied.
  recorded_at: Fri, 02 May 2014 00:40:09 GMT
- request:
    method: get
    uri: https://clientstage-api.democracyengine.com/subscribers/18.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="Ruck.us_api"
      - cnonce="e048b3fb15961e7a9834f716d93433e0"
      - nc=00000001
      - nonce="MTM5ODk5MTE2ODo5MzY2NWM0NzJhMGU2NjFiM2IzNjU0OTAwNzFmZDk2Nw=="
      - opaque="0196eb83b664c00d7d5d4d52c24543ae"
      - qop="auth"
      - realm="Democracy Engine API"
      - response="4759f1f362ef19ebeecbe6ec875dc54b"
      - uri="/subscribers/18.json"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"76c49e38e059b67586542c6e676b6785"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":18,"name":"Ruck.us_api","username":"Ruck.us_api","uri":"https://clientstage-api.democracyengine.com/subscribers/18.json","donation_uri":"https://clientstage-api.democracyengine.com/subscribers/18/donations/:donation_id.json","donation_process_uri":"https://clientstage-donate.democracyengine.com/subscribers/18/donations.json","donations_uri":"https://clientstage-api.democracyengine.com/subscribers/18/donations.json","recipient_uri":"https://clientstage-api.democracyengine.com/subscribers/18/recipients/:recipient_id.json","recipients_uri":"https://clientstage-api.democracyengine.com/subscribers/18/recipients.json","recipient_process_uri":"https://clientstage-api.democracyengine.com/subscribers/18/recipients.json","transaction_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions/:transaction_id.json","transaction_void_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions/:transaction_id/void.json","transaction_credit_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions/:transaction_id/credit.json","transactions_uri":"https://clientstage-api.democracyengine.com/subscribers/18/transactions.json","subscriptions_uri":"https://clientstage-api.democracyengine.com/subscribers/18/subscriptions.json","subscription_uri":"https://clientstage-api.democracyengine.com/subscribers/18/subscriptions/:subscription_id.json","subscription_donations_uri":"https://clientstage-api.democracyengine.com/subscribers/18/subscriptions/:subscription_id/donations.json","subscription_recurrence_uri":"https://clientstage-api.democracyengine.com/subscribers/18/subscription_recurrences/:subscription_recurrence_id.json","stored_card_uri":"https://clientstage-api.democracyengine.com/subscribers/18/stored_cards/:token.json"}'
  recorded_at: Fri, 02 May 2014 00:40:10 GMT
- request:
    method: post
    uri: https://clientstage-api.democracyengine.com/subscribers/18/recipients.json
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Www-Authenticate:
      - Digest realm="Democracy Engine API", qop="auth", algorithm=MD5, nonce="MTM5ODk5MTE2OTpjNmU4YmIyZmMwOTQ4ODZhNjEzNDYxNDUzNzVlNDk5NA==",
        opaque="0196eb83b664c00d7d5d4d52c24543ae"
      Status:
      - '401'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Digest: Access denied.
  recorded_at: Fri, 02 May 2014 00:40:11 GMT
[...]
- request:
    method: post
    uri: https://clientstage-donate.democracyengine.com/subscribers/18/donations.json
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Www-Authenticate:
      - Digest realm="Democracy Engine API", qop="auth", algorithm=MD5, nonce="MTM5ODk5MTE3Mzo5MTkyOWIwNDgxYmMzOTkwMDQ2NjZmYjQzOTVjNGMzNQ==",
        opaque="0196eb83b664c00d7d5d4d52c24543ae"
      Status:
      - '401'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Digest: Access denied.
  recorded_at: Fri, 02 May 2014 00:40:15 GMT
[...]
- request:
    method: post
    uri: https://clientstage-donate.democracyengine.com/subscribers/18/donations.json
    body:
      encoding: UTF-8
      string: donation[donor_first_name]=John&donation[donor_last_name]=Doe&donation[donor_city]=Louisiana&donation[donor_state]=CA&donation[donor_zip]=12345&donation[donor_address1]=Street&donation[cc_number]=4111111111111111&donation[cc_verification_value]=123&donation[cc_month]=02&donation[cc_year]=2018&donation[cc_first_name]=John&donation[cc_last_name]=Doe&donation[line_items][][amount]=%2420.00&donation[line_items][][recipient_id]=ruckusfees&donation[token]=token
    headers:
      Authorization:
      - Digest username="Ruck.us_api"
      - cnonce="9bd2d66529528bcc38f33346b4b40aac"
      - nc=00000001
      - nonce="MTQyMTcwNzAwNjo5Nzk0ZTcwNTYwZjI2MDIzNzgxYTJiZDg4NmU3M2ZkZA=="
      - opaque="0196eb83b664c00d7d5d4d52c24543ae"
      - qop="auth"
      - realm="Democracy Engine API"
      - response="17fee8ef46f69d4a2e02f2ebd56cfae2"
      - uri="/subscribers/18/donations.json"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: 404 Record Not Found
  recorded_at: Mon, 19 Jan 2015 22:36:47 GMT
recorded_with: VCR 2.9.3
