---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Some%20street,%20Good%20City,%20NY&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New York",
                       "short_name" : "New York",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New York County",
                       "short_name" : "New York County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New York, NY, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.91525559999999,
                          "lng" : -73.70027209999999
                       },
                       "southwest" : {
                          "lat" : 40.4959961,
                          "lng" : -74.2590879
                       }
                    },
                    "location" : {
                       "lat" : 40.7143528,
                       "lng" : -74.00597309999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.91525559999999,
                          "lng" : -73.70027209999999
                       },
                       "southwest" : {
                          "lat" : 40.496006,
                          "lng" : -74.25573489999999
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 08 Mar 2014 06:56:23 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=AL&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=AK&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=AZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=AR&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=CO&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=CT&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=DE&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=DC&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=FL&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=GA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HI&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=ID&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=IL&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=IN&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=IA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=KS&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=KY&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=LA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=ME&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MD&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MI&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MN&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MS&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MO&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=MT&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=NE&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=NV&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=NH&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=NJ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=NM&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=NY&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=NC&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=ND&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=OH&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=OK&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=OR&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=PA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=PR&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=RI&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SC&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SD&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=TN&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=TX&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=UT&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=VT&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=VA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=WA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=WV&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=WI&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=WY&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=shouldamatchersteststring&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 08 Mar 2014 06:57:10 GMT
[...]
- request:
    method: get
[...]
