- title('Domains')
- bodyclasses('domains new-domain')

= render 'shared/profile/nav', submenu: :settings, profile: current_profile

.content
  %h1 Edit Subdomain
  -#
    %p
      This process is for those who have already purchased a custom subdomain name.
      %br
      Don't have a custom domain?
      = link_to '#', target: '_blank' do
        %strong Purchase one here.
  .inner
    .col
      = render 'form'
