- title('Domains')
- bodyclasses('domains new-domain')

= render 'shared/profile/nav', submenu: :settings, profile: current_profile

.content
  %h1 Edit subdomain
  .inner
    .col
      = render 'form'
