%li.no-content-pad.no-content-pad-white.no-content-pad-short
  = link_to new_profile_event_path, class: 'link-add-content js-edit-modal' do
    %span.square-button
      %i.i-icon.i-event
    %span Add New Event
