%li.no-content-pad.no-content-pad-white.no-content-pad-short
  = link_to profile_press_releases_path, class: 'ajax-modal-link link-add-content' do
    %span.square-button
      %i.i-icon.i-press
    %span Add New Press Link
