%li.active= link_to 'All', front_profile_issues_path(profile)
- shown_issue_categories.each do |category|
  %li
    = link_to category.name,
              front_profile_issues_path(profile, category_id: category.id)
