= custom_form_for profile, url: profile_profile_path, as: :profile do |f|
  #issues-switch.switch-builder
    .toggle
      %label.checkbox
        = f.input_field :issues_on, as: :boolean, class: 'boolean optional'
