/* ================================================================
Press & Events Section
================================================================ */
#press-events {
  position: relative;
  padding: 30px 0;
  margin: 0;
  background-color: #f1f1f1;
  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    background: #f1f1f1;
  }
  #events, #press {
    h3 {
      position: relative;
      margin-top: 0;
      color: $brand-primary;
      .theme-red & { color: $brand-red; }
      .theme-green & { color: $brand-green; }
      .theme-blue & { color: $brand-blue; }
      .theme-grey & { color: $brand-grey; }
    }

    > a {
      position: absolute;
      top: 6px;
      right: 15px;
      color: #bbbbbb;
      text-transform: uppercase;
      font-family: $font-family-sans-serif;
      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) {
        right: 20px;
      }
    }

    ol {
      position: relative;
      overflow: hidden;
      padding: 10px 0;
      margin: 0;
      li {
        display: block;
        position: relative;
        width: 100%;
        height: 100px;
        background: #fff;
        margin-bottom: 10px;
        border-bottom: 1px solid #d3d3d3;
        line-height: 1.4;
      }
    }

    &.col-sm-12 {
      @media (min-width: 768px) {
        ol {
          margin-left: -1.5%;
          li {
            float: left;
            width: 48.5%;
            margin-left: 1.5%;
          }
        }
      }
    }
  }

  #events {
    position: relative;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      padding-right: 40px;
    }
    > a {
      right: 15px;
      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) {
        right: 40px;
      }
    }
    ol {
      li {
        padding-left: 116px;
        font-family: $font-family-sans-serif;
      }
    }
    .event {
      .date {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 99px;
        height: 99px;
        background: #333;
        color: #fff;
        text-align: center;
        line-height: 25px;
        font-weight: 700;
        padding-top: 28px;
        strong {
          font-size: 35px;
          display: block;
        }
      }
      .event-info {
        position: relative;
        display: table;
        height: 100%;
        line-height: 16px;
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {
          line-height: 25px;
        }
        div {
          display: table-cell;
          vertical-align: middle;
          font-size: 12px;
          /* Medium devices (desktops, 992px and up) */
          @media (min-width: 992px) {
            font-size: 14px;
          }
        }
        h4 {
          margin: 0;
          font-family: $font-family-serif;
          font-weight: 300;
          font-size: 14px;
          /* Medium devices (desktops, 992px and up) */
          @media (min-width: 992px) {
            font-size: 20px;
          }
        }
      }
      a {
        position: absolute;
        overflow: hidden;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  #press {
    position: relative;
    ol {
      li {
        position: relative;
        padding: 10px;
        font-size: 14px;
        p { font-family: $font-family-sans-serif; }
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -30px 0 -30px -12px;
      box-shadow: 100px 0 100px -40px rgba(0, 0, 0, 0.05) inset;
    }

    &.col-sm-12 {
      &:before { display: none; }
    }

    @media (max-width: 768px) {
      &:before { display: none; }
    }
  }
}

/* ================================================================
Press element
================================================================ */
.press {
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;

  span {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }
  > div {
    position: relative;
    display: table;
    height: 100%;
    > div {
      display: table-cell;
      vertical-align: middle;
    }
  }
  strong {
    display: inline-block;
    word-break: break-word;
  }

  a {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    &[target="_blank"] {
      &:after {
        position: relative;
        display: inline-block;
        content: "\f14c";
        width: 14px;
        height: 14px;
        font-family: FontAwesome;
        font-weight: normal;
        margin-left: 3px;
      }
    }
  }
}
