---
:verbose: false
:pidfile: ./tmp/pids/sidekiq.pid
:concurrency:  25
:queues:
  - [default, 5]
:schedule:
  hello_world:
    cron: '0 9 * * *'   # Runs once per day at 9:00
    class: PremiumPeriodicPayments
#development:
#  :namespace: ruckus_development
#staging:
#  :namespace: ruckus_staging
#production:
#  :namespace: ruckus_production
