= custom_form_for profile, url: profile_profile_path, as: :profile do |f|
  #about-video-switch.switch-builder
    .toggle
      %label.checkbox
        = f.input_field :hero_unit_on, as: :boolean, class: 'boolean optional'
