.col-sm-6.col-sm-push-6.no-content
  .no-content-pad.no-content-pad-white.no-content-pad-offset
    = link_to edit_profile_hero_unit_path, class: 'edit-link js-edit-modal link-add-content' do
      %span.square-button
        %i.i-icon.i-photo
      %span#add-photos-to-hero-unit-choice Add Featured Image Or Video
