= custom_form_for profile, url: profile_profile_path, as: :profile do |f|
  #question-switch.switch-builder{ group: 'question', blocks: '.section-editable.question' }
    .toggle
      %label.checkbox
        = f.input_field :questions_on, as: :boolean, class: 'boolean optional'
